<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Portal web de Notwicias</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'notwicias:index' %}">Notwícias</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'notwicias:index' %}">Portada</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Categorías<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'notwicias:category' category_id='0' %}">General</a></li>
                        <li><a href="{% url 'notwicias:category' category_id='1' %}">Política</a></li>
                        <li><a href="{% url 'notwicias:category' category_id='2' %}">Internacional</a></li>
                        <li><a href="{% url 'notwicias:category' category_id='3' %}">Tecnología</a></li>
                        <li><a href="{% url 'notwicias:category' category_id='4' %}">Deportes</a></li>
                        <li><a href="{% url 'notwicias:category' category_id='5' %}">Transportes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Los más<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'notwicias:most' type='favorites' %}">Favoritos</a></li>
                        <li><a href="{% url 'notwicias:most' type='retweets' %}">Retuiteados</a></li>
                    </ul>
                </li>
            </ul>
            {% if 'username' in request.session %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-lock"></span> Área privada<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="myarea.php">Mi portada</a></li>
                        <li><a href="manage_area.php">Configuración</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'notwicias:log_out' %}"><span class="glyphicon glyphicon-off"></span> Salir
                    ({{ request.session.username }})</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-user"></span>
                    Entrar</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<!-- Margen superior equivalente a altura menú -->
<div style="margin-top:51px"></div>

<!-- alerta en cas de no estar logat i menú de login -->
{% if not 'username' in request.session %}
<div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <strong>Atención!</strong> Para una personalización de notícias <a href="#" class="alert-link">entra con tu
    cuenta.</a>
</div>
{% endif %}

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-lock"></span> Control de acceso al sistema
                    </h4>
                </div>
                <div class="modal-body">
                    <p>Entra tus credenciales.</p>
                    <form class="form-signin" action="{% url 'notwicias:log_in' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span
                                    class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="Username"
                                   aria-describedby="basic-addon1" name="username">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2"><span
                                    class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" placeholder="Password"
                                   aria-describedby="basic-addon2" name="password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Recuérdame
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <a href="signin.php">Registrarse</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>