{% include "notwicias/include/header.html" %}

{% if not 'username' in request.session %}
<div class="container">
    <div class="jumbotron">
        <h1>Bienvenido a Notwícias</h1>
        <p>El portal de notícias actualizado 24 horas vía Twitter.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Date de alta</a>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="page-header">
        <h1>Portada
            <small> Últimas notícias</small>
        </h1>
    </div>

    <h2>Política</h2>
    {% for tweet in last_tweets_c0 %}
    <div class='col-sm-6'><h3>{{ tweet.user }} ({{ tweet.date }})</h3>
        {{ tweet.text }}<br />
        {{ tweet.date }} {{ tweet.time }}<br /><br /><hr>
    </div>
    {% endfor %}

    <h2>Internacional</h2>
    {% for tweet in last_tweets_c1 %}
    <div class='col-sm-6'><h3>{{ tweet.user }} ({{ tweet.date }})</h3>
        {{ tweet.text }}<br />
        {{ tweet.date }} {{ tweet.time }}<br /><br /><hr>
    </div>
    {% endfor %}

    <h2>Deportes</h2>
    {% for tweet in last_tweets_c2 %}
    <div class='col-sm-6'><h3>{{ tweet.user }} ({{ tweet.date }})</h3>
        {{ tweet.text }}<br />
        {{ tweet.date }} {{ tweet.time }}<br /><br /><hr>
    </div>
    {% endfor %}

    <h2>Tecnología</h2>
    {% for tweet in last_tweets_c3 %}
    <div class='col-sm-6'><h3>{{ tweet.user }} ({{ tweet.date }})</h3>
        {{ tweet.text }}<br />
        {{ tweet.date }} {{ tweet.time }}<br /><br /><hr>
    </div>
    {% endfor %}

    <h2>Transportes</h2>
    {% for tweet in last_tweets_c4 %}
    <div class='col-sm-6'><h3>{{ tweet.user }} ({{ tweet.date }})</h3>
        {{ tweet.text }}<br />
        {{ tweet.date }} {{ tweet.time }}<br /><br /><hr>
    </div>
    {% endfor %}


</div>

{% include "notwicias/include/footer.html" %}