{% include "notwicias/include/header.html" %}

<div class="container">
    <div class="page-header">
        <h1>Formulari de registre
            <small> Accés al sistema</small>
        </h1>
    </div>
    <p>Omple els següents camps del formulari per a crear el teu usuari</p>

    <form data-toggle="validator" role="form" action="operations/signin.php" method="post">
        <div class="form-group">
            <label for="inputName" class="control-label">Nom d'usuari</label>
            <input type="text" class="form-control" id="inputName" placeholder="Username" name="username" required>
        </div>

        <div class="form-group">
            <label for="inputEmail" class="control-label">Correu electrònic</label>

            <input type="email" class="form-control" id="inputEmail" placeholder="nom@host.domini" name="email"
                   data-error="L'adreça de correu és invàlida" required>
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="control-label">Password</label>
            <div class="row">
                <div class="form-group col-sm-6">
                    <input type="password" data-minlength="8" class="form-control" id="inputPassword"
                           placeholder="Password" name="password" required>
                    <span class="help-block">La mida mínima del password és de 8</span>
                </div>
                <div class="form-group col-sm-6">
                    <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword"
                           data-match-error="Els passwords no coincideixen" placeholder="Repetició de password"
                           name="password2" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="terms" data-error="Heu d'acceptar les condicions d'ús" name="check"
                           required>
                    Accepto les condicions d'ús
                </label>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>

</div>

{% include "notwicias/include/footer.html" %}